*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

}
body{
    background-color: #000814;
}

header{
    
    width: 100% max-content 120%;
    margin-top: 0;
    height: 150px;
    margin-top: 0;
}


nav>ul, li,a{
    text-align: center;
    margin: 20px 14px;
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-size: 24px;
    display: flex;
    justify-content: end;
    align-items: center;
}

hr{
    border: 10px solid rgb(243, 243, 243);
}







#About{
    background-color: #150578;
    padding-bottom: 20px;
    padding-top: 20px;
}









.contenido{
    
    margin-top: 20px;
    padding: auto;
    
    padding: 100px 80px;
   

}

#nombre{
    color: #9fc9fd;
    position: relative;
    top: 100px;
    
    z-index: 1;
    font-size: 50px;
    width: 40%;
    
}

#introduccion{
    font-size: 30px;
    text-align: left;
    position: relative;
    left: 50%;
    width: 50%;
    bottom: -1em;
    
    
    color: white;

}
#foto-rene{
    width: 140px;
    position: relative;
    bottom: 20rem;
    left: 40%;
    border-radius: 1em;
    
    
}

.container-iconos{
    
   
    
    position: relative;
    bottom: 10rem;
    
    
    
  }
  
  .imagenes-iconos {
    flex-basis: calc(40% - 2rem);
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
   
    position: relative;
    
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
    
    
  }
  
  .imagenes-iconos:hover {
    transform: translateY(-8px);
  }
  
  .imagenes-iconos img {
    width: 35px;
    height: auto;
    
    
  }
    
.work{
    margin-top:2rem ;
    margin-bottom: 2rem;
}

    
    



    

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5ff;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 3rem;
    
    
    
  }
  
  .project {
    flex-basis: calc(20% - 4rem);
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(96, 87, 87, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
    background-color: #e7e6e9;
    
    
    
  }
  
  .project:hover {
    transform: translateY(-8px);
  }
  
  .project img {
    width: 100%;
    height: auto;
    
  }
  
  .project h3 {
    margin-top: 0;
    
    color: #020927;
    text-align: center;
  }
  
  



.project-titulo{
    text-align: center;
    color: #9fc9fd;
    font-size: 46px;
    margin: auto;
    

}



.contact-container{
    padding: 50px;
    margin-top: 100px;
    
    background-color: #f5f5ff;
    margin-top: 7em;
    border-radius: 12px;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
   
   

}

 .input-container{
    margin: 80px;
 }


 #contactos{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(81, 82, 83);
 }

 #mensaje{
    margin: auto;
    width: 100%;
 }























